html {
    box-sizing: border-box;
}

body {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: 1fr 1fr 97fr 1fr;
    grid-template-areas: "header header" "nav nav" "main aside" "footer footer"
}

header {
    background-color: #abc;
    grid-area: header;
}

nav {
    background-color: #bcd;
    grid-area: nav;
}

main {
    background-color: #cde;
    grid-area: main
}

aside {
    background-color: #def;
    grid-area: aside;
}

footer {
    background-color: #f10;
    grid-area: footer;
}