/* ---------------------------------------------------------
    - Responsive Grid-Layout
    - Responsive Navigation
----------------------------------------------------------*/

/* ---------------------------------------------------------
    Allgemeine Einstellungen 
----------------------------------------------------------*/

/* Farben, Abstände */

body {
   background-color: white;
   color: black;
   margin: 0rem auto;
}

.site-header {
   background-color: #b3d9ff;
   color: #004080;
   padding-left: 10px;
   padding-top: 5px;
}

.site-nav {
   background-color: #80bfff;
   padding-top: 1rem;
   padding-bottom: 1rem;
}

.site-content {
   background-color: white;
   padding: 1rem;
}

.site-aside {
   background-color: lightblue;
}

.site-footer {
   background-color: grey;
   padding: 10px 5px;
}

/* Navigation */

.current a {
   background: #002966;
   color: white !important;
}

.site-nav ul {
   list-style-type: none;
}

.site-nav a {
   text-decoration: none;
   color: #005580;
   padding-top: 0.5rem;
}

.site-nav a:link {
   color: #005580;
}

.site-content a:visited {
   color: #005580;
}

.site-nav a:hover,
.site-nav a:focus {
   background: #0b74b8;
   color: white;
}

.site-nav a:active {
   color: red;
}

/* Single Page Application */

.hideDiv {
   display: none;
}

/* Bilder - Allgemein */

figure {
   position: relative;
   border: 5px solid silver;
   margin: 3px;
   max-width: 100%;
}

figure img {
   display: block;
   max-width: 100%;
   height: auto;
   margin-bottom: 2rem;
   padding: 5px;
}

figcaption {
   position: absolute;
   bottom: 0;
   left: 0;
   right: 0;
   background: rgba(0, 0, 0, 0.5);
   color: #fff;
}

/* Bilder - Übersicht als Grid: Default: 1-spaltig */

.site-content-pictures {
   display: grid;
   grid-template-columns: repeat(1, auto);
   /* horizontale Zentrierung: align-items: center; */
}

/* Navigation, Bild in Galerie */
.site-content-pictures-nav {
   display: grid;
   grid-template-columns: repeat(3, auto);
   grid-column-gap: 4rem;
   justify-content: center;
}
#slideShowImage {
   max-height: 70vh;
   width: auto;
}

/* ---------------------------------------------------------
    Grid-Layout
----------------------------------------------------------*/

/* Handy */

@media screen and (max-width: 39.938em) {
   body {
      display: grid;
      grid-template-rows: auto auto auto 1fr auto;
      min-height: 100vh;
   }
   .site-header {
      grid-column-start: 1;
      grid-column-end: 2;
      grid-row-start: 1;
      grid-row-end: 2;
   }
   .site-nav {
      grid-column-start: 1;
      grid-column-end: 2;
      grid-row-start: 2;
      grid-row-end: 3;
   }
   .site-content {
      grid-column-start: 1;
      grid-column-end: 2;
      grid-row-start: 3;
      grid-row-end: 4;
   }
   .site-aside {
      grid-column-start: 1;
      grid-column-end: 2;
      grid-row-start: 4;
      grid-row-end: 5;
   }
   .site-footer {
      grid-column-start: 1;
      grid-column-end: 2;
      grid-row-start: 5;
      grid-row-end: 6;
   }
   /* Navigation - Handy */
   #nav_button {
      cursor: pointer;
      background: inherit;
      color: white;
      border: 0;
      padding-left: 10px;
   }
   .site-nav ul {
      display: none;
      padding: 0;
      margin: 0;
   }
   .site-nav a {
      display: block;
      padding-left: 1rem;
   }
}

/* Tablet */

@media screen and (min-width: 40em) and (max-width: 63.938em) {
   body {
      display: grid;
      grid-template-columns: 6.5fr 3.5fr;
      grid-template-rows: auto auto 1fr auto;
      min-height: 100vh;
   }
   .site-header {
      grid-column-start: 1;
      grid-column-end: 3;
      grid-row-start: 1;
      grid-row-end: 2;
   }
   .site-nav {
      grid-column-start: 1;
      grid-column-end: 3;
      grid-row-start: 2;
      grid-row-end: 3;
   }
   .site-content {
      grid-column-start: 1;
      grid-column-end: 2;
      grid-row-start: 3;
      grid-row-end: 4;
   }
   .site-aside {
      grid-column-start: 2;
      grid-column-end: 3;
      grid-row-start: 3;
      grid-row-end: 4;
   }
   .site-footer {
      grid-column-start: 1;
      grid-column-end: 3;
      grid-row-start: 4;
      grid-row-end: 5;
   }
   /* Navigation - Tablet */
   #nav_button {
      display: none !important;
   }
   .site-nav ul {
      display: block !important;
      padding: 0;
      margin: 0;
   }
   .site-nav li {
      display: inline;
   }
   .site-nav a {
      display: inline;
      padding: 1rem;
   }
}

/* Desktop */

@media screen and (min-width: 64em) {
   body {
      display: grid;
      grid-template-columns: 1fr 6fr 2fr;
      grid-template-rows: auto 1fr auto;
      min-height: 100vh;
   }
   .site-header {
      grid-column-start: 1;
      grid-column-end: 4;
      grid-row-start: 1;
      grid-row-end: 2;
   }
   .site-nav {
      grid-column-start: 1;
      grid-column-end: 2;
      grid-row-start: 2;
      grid-row-end: 3;
   }
   .site-content {
      grid-column-start: 2;
      grid-column-end: 3;
      grid-row-start: 2;
      grid-row-end: 3;
   }
   .site-aside {
      grid-column-start: 3;
      grid-column-end: 4;
      grid-row-start: 2;
      grid-row-end: 3;
   }
   .site-footer {
      grid-column-start: 1;
      grid-column-end: 4;
      grid-row-start: 3;
      grid-row-end: 4;
   }
   /* Navigation - Desktop */
   #nav_button {
      display: none !important;
   }
   .site-nav ul {
      display: block !important;
      padding: 0;
      margin: 0;
   }
   .site-nav a {
      display: block;
      padding-left: 1rem;
   }
}
