/* ================================================================
  Zentrales Stylesheet mit inlcudes; in Html-Seiten eingebunden
  ============================================================== */

@import url("basis.css");
@import url("layout.css");