html {
    box-sizing: border-box;
    font-size: calc(100% + 0.3vw);
}

*,
*::before,
*::after {
    box-sizing: inherit;
}


/* Generell - unabhänging von Bildschirmgröße */

.div-nav-button {
    text-align: center;
}

.nav-ul {
    margin: 0;
}

.nav-ul a:link {
    text-decoration: none;
}


/* CSS-Anweisungen für Bildschirme bis 640 Pixel Breite */

body {
    display: grid;
    grid-template-rows: 1fr 1fr 10fr 10fr 1fr;
    grid-template-columns: 100vw;
    grid-template-areas: "header" "nav" "main" "aside" "footer";
    height: 100%;
}

.nav-button {
    display: inline;
}

.nav-button:hover {}

.nav-li {
    margin-left: 0;
    display: none;
}


/* CSS-Anweisungen für Bildschirme ab 640 Pixel Breite : 640px / 16px/em = 40em */

@media screen and (min-width: 40em) {
    body {
        display: grid;
        grid-template-rows: 1fr 1fr 20fr 1fr;
        grid-template-columns: 50vw 50vw;
        grid-template-areas: "header header " "nav nav" "main aside" "footer footer";
        font-size: 90%;
    }
    .nav-button {
        display: none;
    }
    .nav-ul {
        padding-left: 1vh;
    }
    .nav-li {
        display: inline-block;
    }
}


/* CSS-Anweisungen für Bildschirme ab 1024 Pixel Breite:  1024px / 16px/em = 64em */

@media screen and (min-width: 64em) {
    body {
        display: grid;
        grid-template-rows: 1fr 20fr 1fr;
        grid-template-columns: 20vw 50vw 30vw;
        grid-template-areas: "header header header" "nav main aside" "footer footer footer";
        font-size: 80%;
    }
    .nav-button {
        display: none;
    }
    .nav-li {
        display: block;
    }
}

header {
    text-align: center;
    grid-area: header;
    background-color: lightblue;
}


/* Navigation */

nav {
    grid-area: nav;
    background-color: lightcoral;
}

.nav-li {
    list-style: none;
}

.nav-li a:link {
    text-decoration: none;
}


/* Main */

main {
    grid-area: main;
    background-color: lightcyan;
}

aside {
    grid-area: aside;
    background-color: lightgray;
}

footer {
    grid-area: footer;
    background-color: lightgreen;
}