@import url('normalize.css');
/* Modernes Layout mit Border-Box */

html {
    box-sizing: border-box;
    font-size: calc(90% + 0.5vw);
}

*, *::before, *::after {
    box-sizing: inherit;
}

/* Layout Desktop */

body {
    display: grid;
    grid-template-areas: 'header header header' 'nav nav nav ' 'main main aside' 'footer footer footer';
}

header {
    background-color: lightblue;
    grid-area: header;
    text-align: center;
}

header h1 {
    font-size: 1.5rem;
}

/* Haupt- und Sekundärnavigation */
.nav-main {
    grid-area: nav;
    background-color: lightcoral;
}

.nav-main-item {
    list-style: none;
    float: left;
    padding: 20px;
    display: inline-block;
}

aside {
    background-color: lightseagreen;
    grid-area: aside;
    padding-left: 1em;
    padding-right: 1em;
}

.nav-aside-header {
    font-size: 1rem;
    color: grey;
}

.nav-aside-item-list {
    padding: 0;
}

.nav-aside-item {
    display: block;
    margin: 0;
}

input {
    display: block;
}

main {
    background-color: white;
    grid-area: main;
}

footer {
    background-color: lightgrey;
    grid-area: footer;
    text-align: center;
}

}