html {
    background-color: transparent;
}

body {
    display: flex;
    flex-flow: column;
    min-height: 100vh;
    max-width: none;
    padding: 0;
    margin: 0;
}

.inside {
    max-width: 600px;
    padding: 0 1rem;
    /* auto --> Zentrierung */
    margin: 0 auto;
}

@supports (display: grid) {
    .inside {
        max-width: 960px;
    }
}

.site-header, .site-nav, .site-content, .site-footer {
    padding-left: 0;
    padding-right: 0;
}

.site-content {
    flex: 1;
}