/* ==========================================================
- Einstellungen zur Navigation
========================================================== */

/* ---------------------------------------------------------
    Hauptnavigation
----------------------------------------------------------*/
.site-nav ul {
    padding: 0;
    margin: 0;
}

.site-nav li {
    display: inline;
    margin-right: 0.5rem;
}

.site-nav a {
    color: white;
    text-decoration: none;
}

/* Haupt-/Meta-Menü für aktuelle Seite markieren */
.current a {
    text-decoration: underline;
}