/* ==========================================================
    Einstellungen zur Meta-Navigation (im Footer)
========================================================== */

.meta-nav ul {
    display: flex;
    padding: 0;
    margin: 0;
}

.meta-nav li {
    list-style: none;
    margin-right: 0.5rem;
}

.meta-nav li:last-child {
    margin-left: auto;
    margin-right: 0;
}