html {
  /* Sanftes Scrollen innerhalb einer Seite */
  scroll-behavior: smooth;
}

body {
  background-color: floralwhite;
  color: black;
  font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
  font-size: 1rem;
}

/* Überschriften */
h1 {
  font-size: 2.5rem;
}
h2 {
  font-size: 2rem;
}
h3 {
  font-size: 1.75rem;
}
h4 {
  font-size: 1.5rem;
}
h5 {
  font-size: 1.25rem;
}
h1 {
  font-size: 1rem;
  font-variant: small-caps;
}

/* ----------------------------------------------- */
/* Header                                          */
.site-header {
  background-color: steelblue;
  color: white;
  /* 1rem: so groß wie die Schrift des Stammelements html*/
  padding: 1rem;
}

.site-header h1 {
  margin-bottom: 0;
}

.site-header p {
  margin-top: 0;
}

/* ----------------------------------------------- */
/* Navigationsleiste                               */
.site-nav {
  background-color: #333;
  color: white;
  padding: 0.5rem;
  margin: 1rem 0;
}
.site-nav ul {
  padding: 0;
  margin: 0;
}

.site-nav li {
  display: inline;
  margin-right: 0.5rem;
}

/* Alle Hyperlinks in Navigationsleiste*/
.site-nav a {
  color: white;
  text-decoration: none;
}

/* Hyperlink für aktuelle Seite */
.current a {
  text-decoration: underline;
}

/* ----------------------------------------------- */
/* Fußbereich (footer)                             */
footer {
  font-size: smaller;
  background-color: #333;
  color: white;
  text-align: right;
  padding: 0.5rem;
}

/* Hyperlinks im Fußbereich */
footer a {
  color: white;
  text-decoration: none;
}

.meta-nav ul {
  margin: 0;
}

.meta-nav li {
  display: inline;
  margin-right: 0.5rem;
}


/* "Automatisches Zoomen" der Bilder */
img {
  display: block;
}
/*
img {
  max-width: 100%;
  height: auto;
}

figure {
  text-align: center;
  margin-left: 0;
  margin-right: 0;
}*/


.site-content {
  line-height: 1.5;
}


/* Gestaltung von Hyperlinks: Reihenfolge wie hier einhalten! */
.site-content a:link {
  color: #0b74b8;
}

.site-content a:visited {
  color: #36abde;
}

.site-content a:hover, .site-content a:focus {
  color: #f5662e;
}

.site-content a:active {
  color: #d90000;
}

/* Section Infoboxen */
.infoboxen {
  background-color: #eee;
  padding: 1rem;
  margin-bottom: 1rem;
  border: 1px solid rgb(204, 196, 196);
}
/* Article Infobox */
.infobox {
  text-align: center;
  background-color: white;
  padding: 1rem;
  margin: 1rem;
}

/* ----------------------------------------------- */
/* News-Seite                                      */
.beitragsliste h3, .linklisten h3 {
  padding-top: 0.5rem;
  border-top: 1px solid rgb(235, 222, 222);
  margin-bottom: 0.25rem;
}

.beitragsliste article, .linklisten section {
  margin-bottom: 3rem;
}

.beitragsinfo {
  color: gray;
}

/* ----------------------------------------------- */
/* Kontakt-Seite                                   */
address {
  font-style: normal;
}

form {
  max-width: 600px;
  background-color: #eee;
  padding: 1rem;
}

.kontaktformular div {
  margin-bottom: 1rem;
}

.kontaktformular label {
 
  cursor: pointer;
}

.kontaktformular label[for] {
  display: block;
}

.kontaktformular button {
  background-color: #0b74b8;
  color: white;
  padding: 0.5rem;
  border: none;
  font-size: inherit;
  cursor: pointer;
  
}

